/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
	flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.collection .collection-item.avatar {
    min-height: 66px;
    padding-left: 72px;
    position: relative;
}

#options-menu {
    display: none;
    z-index: 1000;
    min-width: 200px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
}

#options-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

#options-menu li:hover {
    background-color: #eeeeee;
}

#options-menu img {
    max-height: 25px;
    margin-right: 5px;
}

.option-element img {
    max-height: 30px;
    margin-right: 5px;
}